<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{web}}</p>
</div>
<article class="about">
  <h2>Sobre mí</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae lacus mauris. Proin eget iaculis elit. Morbi
    vel magna scelerisque, accumsan felis nec, placerat tellus. Donec ut lorem vitae urna faucibus vehicula. Ut lobortis
    leo elit, eu maximus sapien fringilla eu. In et posuere mauris. Etiam nec diam a mi pretium volutpat. Donec commodo
    lectus quis tellus porta faucibus. Donec sodales est nec consequat tincidunt. Nam gravida, justo ullamcorper
    lobortis rhoncus, augue mauris pharetra arcu, nec rutrum justo urna eu quam. Donec gravida porttitor velit id
    accumsan. Mauris maximus vulputate vestibulum. Nullam eget est massa. Morbi nunc tellus, volutpat eu nibh et,
    malesuada viverra diam. Quisque fringilla, mi ac laoreet euismod, tortor nulla pretium mauris, ut porttitor tellus
    purus ac justo.
  </p>
</article>